<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm your account</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh;">
<div style="background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; width: 300px;">
    <h2 style="color: #333;">Account Confirmation</h2>
    <p style="font-size: 16px; color: #666;">To confirm your account, please click the link below:</p>
    <a th:href="@{'http://localhost:8080/api/v1/auth/confirm-account?token=' + ${confirmationToken}}"
    style="display: inline-block; padding: 10px 20px; margin-top: 20px; background-color: #4CAF50; color: #fff; text-decoration: none; border-radius: 5px; font-weight: bold;">Confirm your account</a>
</div>
</body>
</html>
